<br><br><br>
<center>
<img src="dataset/Amazon-Logo-PNG-Photo.png" width="800" alt="woodland gardening amazon png logo vector" /></center>

## <br><br><center>                                 <h4> <b>Analyzing Amazon Sales Data</center>

# <b>Tabel of Content<b>
#### 1. Objective
#### 2. Data Preparation
#### 3. Data Processing
#### 4. Analyzing and Visualizing
#### 5. Conclusion and Recommendation

<h1><b>Introduction</b> </h1>
<p> Sales management has gained importance to meet increasing competition and the need for improved methods of distribution to reduce cost and to increase profits. Sales management today is the most important function in a commercial and business enterprise.

<h1><b>1. Objective </b> </h1>
<b> ~ Identify sales trends on a monthly, yearly, and yearly-monthly basis and improve distribution to reduce costs and increase profits.</b>

<h3 style="text-decoration: underline"> Actions:</h3>

* Collect and organize sales data for the past year or two.
* Analyze sales data on a monthly and yearly basis to identify patterns and trends.
* Adjust inventory and marketing strategies to take advantage of seasonal trends.
* Optimize distribution channels to reduce costs and increase efficiency.
* Analyze sales data to identify opportunities for improvement

<h1><b>2. Data Preparation</b> </h1>

<h3 style="text-decoration: underline"> 2.1 Data:</h3>
           The Amazon sales data set provided by iNeuron contains information on the region and country of the sale, item type, sales channel, order priority and date, order ID, ship date, units sold, unit price, unit cost, total revenue, total cost, and total profit. This data set can be used to analyze sales patterns and trends for Amazon products, as well as to identify opportunities to improve distribution, reduce costs, and increase profitability.

<h3 style="text-decoration: underline"> 2.2 Dataset :</h3>

* This dataset was obtained from iNeuron and contains information related to sales, products, and other relevant factors for our objective.

<h3 style="text-decoration: underline">  2.3 Limitations :</h3>


* Limited data size: The data set contains only 100 rows of information on different regions and products, which may not be sufficient for certain types of analysis.


* Limited representativeness: As the data set covers only a limited number of regions, countries, item types, and sales channels, it may not be fully representative of the overall market, and could potentially skew any insights drawn from the data.


* Data currency concerns: Depending on the date range covered by the data set, it may not fully reflect current market trends or conditions, which could limit its usefulness for certain types of analysis or decision-making.

<h1><b>Importing the libraries</b> </h1>

In [1]:
# Importing required libraries

from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
import datetime as dt

## Data Overview

In [2]:
# Reading the dataset

sales_data = pd.read_csv('./dataset/Amazon Sales Records.csv')
sales_data.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,05-28-2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,08-22-2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,06-20-2014,514321792,07-05-2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50

## Analysing Basics of dataset

In [3]:
# returns dataset's shape, column names, info, description, null values sum

def analyzing_dataset(dataset):
    return dataset.shape, dataset.columns, dataset.info(), dataset.describe(), dataset.isna().sum()

In [4]:
rows,column=sales_data.shape
print(f"Our Data set contains {rows} rows and {column} columns")

Our Data set contains 100 rows and 14 columns

#### <b>It is founded that the given dataset contains 100 rows and 14 columns

In [5]:
# Returns the column names of the dataset

columns=list(sales_data.columns)
display(pd.DataFrame(columns,columns=["Columns"]))

           Columns
0           Region
1          Country
2        Item Type
3    Sales Channel
4   Order Priority
5       Order Date
6         Order ID
7        Ship Date
8       Units Sold
9       Unit Price
10       Unit Cost
11   Total Revenue
12      Total Cost
13    Total Profit

#### <b>Our Dataset has following columns

In [6]:
# Returns some information like the number of non-Null values and the data type of the dataset

sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    object
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    object
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: float64(5), int64(2), object(7)
memory usage: 11.1+ KB

#### <b>Here we found that Order Id and Ship Date column dataframe are in object datatype So we want to convert it to Datetime datatype

In [7]:
# Returns the statistical data of the dataset

sales_data.describe()

,Order ID,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
count,1.000000e+02,100.000000,100.000000,100.000000,1.000000e+02,1.000000e+02,1.000000e+02
mean,5.550204e+08,5128.710000,276.761300,191.048000,1.373488e+06,9.318057e+05,4.416820e+05
std,2.606153e+08,2794.484562,235.592241,188.208181,1.460029e+06,1.083938e+06,4.385379e+05
min,1.146066e+08,124.000000,9.330000,6.920000,4.870260e+03,3.612240e+03,1.258020e+03
25%,3.389225e+08,2836.250000,81.730000,35.840000,2.687212e+05,1.688680e+05,1.214436e+05
50%,5.577086e+08,5382.500000,179.880000,107.275000,7.523144e+05,3.635664e+05,2.907680e+05
75%,7.907551e+08,7369.000000,437.200000,263.330000,2.212045e+06,1.613870e+06,6.358288e+05
max,9.940222e+08,9925.000000,668.270000,524.960000,5.997055e+06,4.509794e+06,1.719922e+06

#### <b>It is founded that there are no negative values present in the given dataset

In [8]:
# Returns the cound of NaN values in particular column of the dataset

sales_data.isna().sum()

Region            0
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     0
Total Cost        0
Total Profit      0
dtype: int64

## Pre processing

In [9]:
# Converting object type to datetime fromat
sales_data['Order Date'] = pd.to_datetime(sales_data['Order Date'])
sales_data['Ship Date'] = pd.to_datetime(sales_data['Ship Date'])
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Region          100 non-null    object
 1   Country         100 non-null    object
 2   Item Type       100 non-null    object
 3   Sales Channel   100 non-null    object
 4   Order Priority  100 non-null    object
 5   Order Date      100 non-null    datetime64[ns]
 6   Order ID        100 non-null    int64
 7   Ship Date       100 non-null    datetime64[ns]
 8   Units Sold      100 non-null    int64
 9   Unit Price      100 non-null    float64
 10  Unit Cost       100 non-null    float64
 11  Total Revenue   100 non-null    float64
 12  Total Cost      100 non-null    float64
 13  Total Profit    100 non-null    float64
dtypes: datetime64[ns](2), float64(5), int64(2), object(5)
memory usage: 11.1+ KB

#### <b>NOW THE ORDER DATE AND SHIP DATE COLUMNS ARE CHANGED TO DATETIME FORMAT

#### <p><b>spilling month, year and monthly_year from Order Date and Ship Date columns</b></p>

In [10]:
# Spilliting month, year and yearly_month from base column (Order Date, Ship Date)
pd.options.display.max_colwidth = 150

sales_data.insert(loc=7, column='Order Year_', value=sales_data['Order Date'].dt.year)
sales_data.insert(loc=8, column='Order Month_', value=sales_data['Order Date'].dt.month_name())
sales_data.insert(loc=9, column='Order Yearly Month_', value=sales_data['Order Date'].dt.to_period('M'))
sales_data.insert(loc=10, column='Ship Year_', value=sales_data['Ship Date'].dt.year)
sales_data.insert(loc=11, column='Ship Month_', value=sales_data['Ship Date'].dt.month_name())
sales_data.insert(loc=12, column='Ship Yearly Month_', value=sales_data['Ship Date'].dt.to_period('M'))

In [11]:
sales_data.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Order Year_,Order Month_,Order Yearly Month_,Ship Year_,Ship Month_,Ship Yearly Month_,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,2010-05-28,669165933,2010,May,2010-05,2010,June,2010-06,2010-06-27,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,2012-08-22,963881480,2012,August,2012-08,2012,September,2012-09,2012-09-15,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,2014-05-02,341417157,2014,May,2014-05,2014,May,2014-05,2014-05-08,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,2014-06-20,514321792,2014,June,2014-06,2014,July,2014-07,2014-07-05,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2013-02-01,115456712,2013,February,2013-02,2013,February,2013-02,2013-02-06,5062,651.21,524.96,3296425.02,2657347.52,639077.50